@mixin robotoMX {
  font-family: Roboto;
  font-size: 1.5rem;
  color: rgb(131, 130, 130);
}

@mixin avatarMX {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
